* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

body {
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.container {
  max-width: 1720px;
  width: 100%;
  margin: 0 auto;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: sans-serif;
}

body.locked {
  overflow: hidden;
}

@-webkit-keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

button {
  border: none;
  background-color: white;
}

header {
  display: block;
  position: fixed;
  z-index: 1000;
  position: relative;
}

.header {
  right: 0;
  position: absolute;
  height: 100vh;
  width: 100px;
  border-left: 1px solid #edeee9;
  background-color: white;
  z-index: 20;
}

.header.fixed {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 20;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo a {
  color: white;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  position: fixed;
  background: #ffffff;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  display: none;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.menu__item-link {
  color: #2a524c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-transition: 0.5s color;
  -o-transition: 0.5s color;
  transition: 0.5s color;
}

.menu__item-link:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: -3px;
  background: #131418;
  height: 1px;
  width: 100%;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: 0.5s -webkit-transform;
  transition: 0.5s -webkit-transform;
  -o-transition: 0.5s transform;
  transition: 0.5s transform;
  transition: 0.5s transform, 0.5s -webkit-transform;
}

.menu__item-link:hover {
  color: #131418;
}

.menu__item-link:hover:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.menu.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  pointer-events: all;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-animation: fade 0.1s linear;
          animation: fade 0.1s linear;
}

.burger {
  display: none;
  background: transparent;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  height: 38px;
  width: 64px;
}

.burger.active:before {
  background: #fefefe;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  top: 8px;
}

.burger.active:after {
  background: #fefefe;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  bottom: 10px;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.burger.active span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.burger:before,
.burger:after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #ffffff;
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.burger:before {
  top: 0;
}

.burger::after {
  bottom: 0;
}

.burger span {
  position: absolute;
  top: 9px;
  right: 0;
  width: 100%;
  background: #ffffff;
  height: 2px;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  -o-transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
  transition: cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.3s all;
}

.nav_buttons {
  position: fixed;
  z-index: 3;
  background-color: white;
  padding: 48px 19px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact_buttons {
  height: 832px;
  margin-top: 92px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social_networks_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.side_progress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  left: 0;
  height: 100vh;
  background-color: white;
  width: 100px;
  border-right: 1px solid #edeee9;
}

.progress_indicator {
  height: 350px;
  position: relative;
  width: 3px;
}

.internal_bar {
  top: 0;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
  display: block;
  height: 80px;
  width: 3px;
  left: 50%;
  /* Position X halfway in */
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  border-radius: 14px;
  background-color: #f2c94c;
}

.progress_bar {
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  position: absolute;
  display: block;
  height: 350px;
  width: 1px;
  border-radius: 14px;
  background-color: #656565;
}

.progress_container {
  height: 533px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
}

.progress_control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.progress_control button {
  height: 24px;
  background-color: transparent;
}

.slide_counter {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.slide_counter span {
  color: #f2c94c;
}

.btn_move svg {
  fill: #b1b1b1;
}

.btn_move.move_active svg {
  fill: yellow;
  color: yellow;
}

.btn_move_to_next_slide {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.hero_section {
  overflow: hidden;
  padding-top: 36px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 140px;
  line-height: 129px;
  color: #2a524c;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 76px;
}

.left_hero {
  position: relative;
  min-width: 859px;
  word-break: keep-all;
}

.hero_title_second {
  margin-left: 196px;
}

.hero_links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: absolute;
  bottom: -43px;
  height: 48px;
  margin-left: 523px;
}

.portfolio_btn {
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  font-weight: 600;
  color: white;
  padding: 14px 33px;
  background-color: #f2c04c;
  border-radius: 59px;
}

.check_with_us_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  height: 48px;
}

.right_hero img {
  width: 100%;
}

.hero_statictics {
  -ms-flex-line-pack: center;
      align-content: center;
  width: 100%;
  display: grid;
  padding: 80px;
  padding-top: 0;
  padding-bottom: 0;
  grid-template-columns: repeat(4, 1fr);
}

.statistics_title {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 160px;
  line-height: 147px;
  color: #2a524c;
}

.statistics_desc {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  color: #323232;
}

.deliver_section h3 {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 59px;
  width: 100%;
  text-align: center;
  /* #2A524C */
  margin-bottom: 64px;
  color: #2a524c;
}

.deliver_section h3 span {
  color: #f2c94c;
}

.deliver_section {
  margin-top: 193px;
  margin-bottom: 294px;
  width: 1398px;
}

.deliver_option:nth-child(odd) {
  justify-self: end;
}

.deliver_secton_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 141px;
}

.deliver_option {
  background-color: white;
  border-radius: 40px;
  padding: 32px 56px 0 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #2a524c;
  width: 372px;
  height: 338px;
}

.deliver_background_image {
  display: inline-block;
  position: absolute;
  z-index: -2;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.image_deliver_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 15px;
  color: #323232;
  margin-bottom: 16px;
}

.image_deliver_container img {
  position: static;
  z-index: 2;
  display: inline-block;
}

.deliver_option ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 12px;
}

.deliver_option ul img {
  z-index: 2;
  position: static;
}

.deliver_option li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 9px;
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 22px;
  color: #323232;
}

.image_deliver_container p {
  display: inline-block;
}

.deliver_option_title {
  font-family: "League Spartan";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 29px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2a524c;
  margin-bottom: 16px;
}

@media (max-width: 1800px) {
  .container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .hero_section {
    font-size: 70px;
    padding-left: 48px;
    line-height: 64px;
  }

  .left_hero {
    width: 60%;
    min-width: unset;
  }

  .hero_links {
    bottom: -73px;
    margin-left: 303px;
  }

  .right_hero {
    width: 40%;
  }

  .statistics_title {
    font-size: 80px;
    line-height: 147px;
  }

  .statistics_desc {
    font-size: 16px;
  }
}

@media (max-width: 1628px) {
  .deliver_section {
    width: 100%;
    padding: 0 100px;
  }
}

@media (max-width: 1090px) {
  .left_hero {
    font-size: 43px;
    padding-left: 0;
    line-height: 44px;
  }

  .hero_title_second {
    margin-left: 76px;
  }

  .hero_links {
    margin-left: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 805px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    width: 15px;
  }

  .burger {
    position: absolute;
    right: 43px;
    top: 22px;
  }

  .contact_buttons {
    display: none;
  }

  .side_progress {
    width: 15px;
  }

  .progress_container {
    display: none;
  }

  .hero_section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding-left: 0;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    overflow: visible;
    margin-bottom: 0;
  }

  .left_hero {
    width: 100%;
    font-size: 68%;
    padding-left: 0;
    line-height: 57px;
  }

  .right_hero {
    width: 100%;
  }

  .hero_statictics {
    padding: 0;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 106px;
  }

  .statistics_title {
    font-size: 45px;
    line-height: 45px;
  }
}